h1 {background-color:#96ad23;color:#bee014;text-align:center;}

main img {width:100px;height:100px;}

body {background-color:#879e15;}

main p {text-align:center;font-size:20px;color:yellow}

h2 {color:#bee014;text-align:center;}

.Backdoor {width:200px;height:200px;margin:10px}

footer {background-color:#751414;}

footer p {color:yellow;text-align:center;}
